.draggable-ingredients {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.draggable-ingredients:hover {
    opacity: .7;
}

/*Set default cursor on lock icon located in buns*/
svg[fill="#8585AD"] {
    cursor: default;
}
