.section {
    position: relative;
    width: 600px;
}

.outer-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.inner-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-height: calc(100vh - 508px);
    margin-right: -8px;
    padding-right: 8px;
    overflow-y: auto;
    margin-left: 16px;
}

.draggable-ingredients {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.stub {
    padding: 16px 24px;
    background: var(--background-element);
    max-width: 536px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 48px;
}

.stub__bun-top {
    border-radius: var(--top-constructor-item-border-radius);
}

.stub__ingredients {
    border-radius: var(--common-border-radius-s);
}

.stub__bun-bottom {
    border-radius: var(--bottom-constructor-item-border-radius);
}

.bun {
    margin-left: 48px;
}

/*Set default cursor on lock icon located in buns*/
svg[fill="#8585AD"] {
   cursor: default;
}

/*Set pointer cursor on 6 dots icon located on the left of an ingredient*/
.draggable-ingredients > svg[fill="#F2F2F3"]  {
    cursor: pointer;
}

.checkout {
    display: flex;
    align-items: center;
    gap: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.checkout svg {
    width: 36px;
    height: 36px;
}

.total {
    display: flex;
    column-gap: 8px;
}
