.section {
    position: relative;
    width: 600px;
}

.outer-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.stub {
    padding: 16px 24px;
    background: var(--background-element);
    max-width: 536px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 48px;
}

.stub__bun-top {
    border-radius: var(--top-constructor-item-border-radius);
}

.stub__ingredients {
    border-radius: var(--common-border-radius-s);
}

.stub__bun-bottom {
    border-radius: var(--bottom-constructor-item-border-radius);
}

.bun {
    margin-left: 48px;
}

.checkout {
    display: flex;
    align-items: center;
    gap: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.checkout svg {
    width: 36px;
    height: 36px;
}

.total {
    display: flex;
    column-gap: 8px;
}
