.feed-section {
    max-width: 600px;
    width: 100%;
}

.orders-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    max-height: calc(100vh - 175px);
}

.order {
    padding: 24px;
    display: flex;
    flex-direction: column;
    max-width: 584px;
    width: 100%;
    gap: 24px;
    border-radius: 40px;
    background: #1C1C21;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 0px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}

.date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary {
    display: flex;
    justify-content: space-between;
}

.ingredients {
    display: flex;
}

.ingredient {
    background: linear-gradient(63deg, #801AB2 0%, #4C4CFF 100%);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    overflow: hidden;
    position: relative;
    margin-right: -20px;
}

.ingredient:nth-child(1) {
    z-index: 5;
}

.ingredient:nth-child(2) {
    z-index: 4;
}

.ingredient:nth-child(3) {
    z-index: 3;
}

.ingredient:nth-child(4) {
    z-index: 2;
}

.ingredient:nth-child(5) {
    z-index: 1;
}

.ingredient:nth-child(6) {
    z-index: 0;
    opacity: .7;
}

.ingredient-img {
    object-fit: cover;
    background: #131316;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2px;
}

.fifth-ingredient-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-ingredient {
    position: absolute;
    color: #fff;
}

.total {
    display: flex;
    align-items: center;
    column-gap: 8px;
}