.backdrop, .error {
    margin-top: 180px;
    margin-inline: auto;
    text-align: center;
}

.order {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 640px;
}
