.main {
    max-width: 1240px;
    width: 100%;
    margin: 40px auto 0 auto;
}

.content {
    display: flex;
    gap: 60px;
}

.stats-sections {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.orders-statuses {
    display: flex;
    gap: 100px;
}

.orders-ids-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 40px
}

.orders-ready, .orders-inprogress {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header-in-progress {
    white-space: nowrap;
}

.order-ready-item {
    color: #0CC;
}

.total-orders {
    text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.50), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 0px 16px rgba(51, 51, 255, 0.25);
}
