.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-alt);
  color: #f2f2f3;
}

.main {
  max-width: 1240px;
  width: 100%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}


