.spinner {
    margin-inline: auto;
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 39px;
    height: 39px;
    border-radius: 50%;
    border-left-color: #0CC;
    animation: spin 1s ease infinite;
    margin-top: 32vh;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}