.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
}

.profile {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 60px;
    margin-top: 120px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 24px 0 80px 0;
    position: relative;
}

.submit {
    width: fit-content;
}

.action {
    margin-bottom: 16px;
}

.link {
    color: #4C4CFF;
    margin-left: 8px;
}

/*fix bug in yandex library*/
.input input {
    color: #8585AD;
}

.input input:focus {
    color: #fff;
}

.input svg {
    cursor: pointer !important;
    color: #fff;
}

.profile-btns {
    display: flex;
    gap: 15px;
}

.backdrop, .error {
    margin-top: 180px;
    margin-inline: auto;
    text-align: center;
}

.err {
    position: absolute;
    top: -42px;
    z-index: 2;
}

.logout-btn:hover {
    color: #f2f2f3;
}