.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    border-radius: 40px;
    background: var(--background);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 16px 24px 0 rgba(0, 0, 0, 0.04), 0 24px 32px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(76, 76, 255, 0.20);
    z-index: 2;
    /*opacity: 0;*/
    /*transition: visibility 0s .6s, opacity .6s;*/
    /*visibility: hidden;*/
}

/*.modal.show {*/
/*    opacity: 1;*/
/*    visibility: visible;*/
/*    transition: visibility 0s, opacity .6s;*/
/*}*/

.exit-button {
    background-color: transparent;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 60px;
    right: 40px;
    cursor: pointer;
    border: none;
}
