.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
}

.heading {
    align-self: flex-start;
}

.list {
    display: flex;
    column-gap: 22px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    width: 112px;
}
