@import-normalize;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh; /* not necessary, I do it out of habit */
    display: flex;
    flex-direction: column;
    color: #f2f2f3;
}

header {
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);
}

nav {
    max-width: 1280px;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

ul, li {
    list-style-type: none;
}

a {
    color: #f2f2f3;
    text-decoration: none;
    transition: var(--common-transition);
    cursor: pointer;
}

a:hover {
    color: #f2f2f3;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.modal-backdrop {
    margin: 0 50px 50px 30px;
    text-align: center;
    color: #0CC;
}

.page-backdrop {
    margin-top: 180px;
    margin-inline: auto;
    text-align: center;
    color: #0CC;
}