.section {
    width: 600px;
}

.create-burger {
    max-width: 600px;
    width: 100%;
    height: calc(100vh - 270px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.ingredients {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 32px;
}

.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 8px;
    position: relative;
    width: 272px;
    height: 208px;
    cursor: pointer;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
}