.section {
    width: 600px;
}

.create-burger {
    max-width: 600px;
    width: 100%;
    height: calc(100vh - 270px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
}

.backdrop, .error {
    margin: 0 auto;
}

.ingredients {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 32px;
}
