.list {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 48px;
    white-space: nowrap;
}

.list-item:last-child {
    margin-left: auto;
}

.list-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: var(--common-transition);
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

